{
    "template": {
        "code_folders": "List of folder names identifying a (code) project",
        "exclude_folders": "List of folder names not to be searched.",
        "search_folders": [
            "Paths compare icon settings with the subfolder and adds the icons. System variables can be used with %VARIABLE_NAME%",
            {
                "path": "The path of the folder",
                "copy_icon": "Overwrites the value of the if needed. True for copied, otherwise false. Default: None"
            }
        ],
        "icons_path": "Path in which the icons and the associated configurations are saved.",
        "copy_icon": "True if the icons should be copied to the folder, otherwise false. Default: False"
    },
    "config": {
        "code_folders": [
            ".git",
            ".github",
            ".idea",
            ".svn",
            ".venv",
            ".vs",
            ".vscode"
        ],
        "exclude_folders": [
            "__pycache__",
            "_venv",
            ".mypy_cache",
            ".py_tests",
            "bin",
            "obj",
            "packages",
            "stubs.min",
            "stubs"
        ],
        "search_folders": [
            {
                "path": "%OneDriveCommercial%\\workspace",
                "copy_icon": true
            },
            {
                "path": "%OneDriveCommercial%\\Softwares",
                "copy_icon": true
            }
        ],
        "icons_path": "%OneDriveConsumer%\\Bilder\\Icons",
        "copy_icon": true,
        "before_or_after": []
    }
}